# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# Flutter/Dart/Pub related
**/doc/api/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# Web related
web/favicon.png
web/icons/
web/images/
web/manifest.json

# IntelliJ related
.idea/
*.iml
*.ipr
*.iws

# VS Code related
.vscode/

# Xcode related
**/ios/**/*.mode1v3
**/ios/**/*.mode2v3
**/ios/**/*.moved-aside
**/ios/**/*.pbxuser
**/ios/**/*.perspectivev3
**/ios/**/*.xccheckout
**/ios/**/xcuserdata
**/ios/**/DerivedData/
**/ios/**/Profile
**/ios/**/Pods/
**/ios/**/.symlinks/
**/ios/**/Flutter/Flutter.framework
**/ios/**/Flutter/Flutter.podspec

# Android related
**/android/**/gradle-wrapper.jar
**/android/.gradle
**/android/captures/
**/android/gradle/
**/android/local.properties
**/android/**/GeneratedPluginRegistrant.*

# macOS related
**/macos/Pods/
**/macos/.symlinks/
**/macos/Flutter/ephemeral/
**/macos/Flutter/Flutter-Generated.xcconfig

# Linux related
**/linux/flutter/
**/linux/.dart_tool/
**/linux/.flutter-plugins
**/linux/.flutter-plugins-dependencies
**/linux/.generated_plugins.stamp

# Windows related
**/windows/flutter/
**/windows/.dart_tool/
**/windows/.flutter-plugins
**/windows/.flutter-plugins-dependencies
**/windows/.generated_plugins.stamp

# Coverage reports
coverage/
lcov.info

# If you're using Firebase, you might want to ignore the following files:
**/ios/GoogleService-Info.plist
**/android/app/google-services.json
